<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="properties/dbConfig.properties" />
	<!-- 配置mybatis的缓存，延迟加载等等一系列属性 -->

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<!-- 指定连接数据库的驱动 -->
				<property name="driver" value="${database.jdbcName}" />
				<!-- 指定连接数据库的URL 数据库名称,注意编码 -->
				<property name="url" value="${database.dbUrl}" />
				<!-- 指定连接数据库的用户名 -->
				<property name="username" value="${database.dbUserName}" />
				<!-- 指定连接数据库的密码 -->
				<property name="password" value="${database.dbPassword}" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/cdeledu/dao/impl/rbac/manageUserDaoImpl.xml"/>
		<mapper resource="com/cdeledu/dao/impl/sys/sysDictDaoImpl.xml"/>
	</mappers>
</configuration>
