<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:task="http://www.springframework.org/schema/task" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- 配置注解扫描 -->
	<context:annotation-config />
	<!-- 激活自动代理功能 -->
	<aop:aspectj-autoproxy />
	<!-- 拦截器 -->
	<context:component-scan base-package="com.cdeledu.interceptors" />
	<!-- 数据库配置 -->
	<import resource="applicationContext-dataSource.xml" />
	<!-- redis配置 -->
	<!-- 
		<import resource="applicationContext-redis.xml" />
	-->
	<!-- shiro配置 -->
	<!-- 
		<import resource="applicationContext-shiro.xml" />
	-->


	<!-- 配置文件上传:如果没有使用文件上传可以不用配置,当然如果不配,那么配置文件中也不必引入上传组件包 -->
	<!-- maxUploadSize:设置允许上传的最大文件大小,以字节为单位计算,当设为-1时表示无限制.默认是-1.注意属性的限制是所有文件的容量之和 -->
	<!-- maxInMemorySize:设置在文件上传时允许写到内存中的最大值,以字节为单位计算.默认是10240 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
		p:defaultEncoding="UTF-8" p:maxUploadSize="104857600"
		p:maxInMemorySize="4096" />

	<!-- SpringMVC在超出上传文件限制时，会抛出org.springframework.web.multipart.MaxUploadSizeExceededException -->  
	<!-- 该异常是SpringMVC在检查上传的文件信息时抛出来的，而且此时还没有进入到Controller方法中 -->
	<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">
					/WEB-INF/webViews/common/errorpage/fileUpload
				</prop>
				<!-- 处理其它异常(包括Controller抛出的) -->  
				<prop key="java.lang.Throwable">
					/WEB-INF/webViews/common/errorpage/500
				</prop>
			</props>
		</property>
	</bean>

	<!-- 国际化的消息资源文件 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<!-- 在web环境中一定要定位到classpath 否则默认到当前web应用下找 -->
				<value>/properties/myResources/message</value>
				<value>/properties/myResources/content</value>
			</list>
		</property>
		<property name="defaultEncoding" value="UTF-8" />
		<!-- 刷新资源文件的周期，以秒为单位 -->
		<property name="cacheSeconds" value="60" />
	</bean>

	<!-- servlet适配器，这里必须明确声明，因为spring默认没有初始化该适配器 -->
	<bean id="servletHandlerAdapter"
		class="org.springframework.web.servlet.handler.SimpleServletHandlerAdapter" />


	<!-- Spring任务调度器之:定时任务配置 -->
	<!-- <context:component-scan base-package="com.cdeledu.timertask" /> -->
	<!-- 配置任务线性池 -->
	<!-- <task:executor id="executor" pool-size="5" /> -->
	<!-- <task:scheduler id="scheduler" pool-size="10" /> -->
	<!-- 启用annotation方式 -->
	<!-- <task:annotation-driven executor="executor" scheduler="scheduler" /> -->

	<!-- 异常处理类 -->
	<bean id="handlerExceptionResolver" class="com.cdeledu.common.exception.SpringExceptionHandler" />

	<!-- ====================================================================== 
		配置自定义Spring 拦截器 -->
	<!-- 菜单权限:设置拦截的路径,例如：后台目录:如果不配置或/*,将拦截所有的Controller -->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.cdeledu.common.interceptors.EncodingInterceptor" />
		</mvc:interceptor>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<!-- 不被拦截范围（路径）；例如：后台登录页面 -->
			<mvc:exclude-mapping path="loginController.shtml?doLogin"/>
			<mvc:exclude-mapping path="loginController.shtml?checkuser"/>
			<mvc:exclude-mapping path="loginController.shtml?noAuth"/>
			<mvc:exclude-mapping path="system.shtml?checkBrowser"/>
			<bean class="com.cdeledu.common.interceptors.AuthInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
</beans>
