body {
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: #676a6c;
	overflow-x: hidden;
}

html, body {
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

h1 {
	font-size: 30px;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 16px;
}

h4 {
	font-size: 14px;
}

h5 {
	font-size: 12px;
}

h6 {
	font-size: 10px;
}

h3, h4, h5 {
	margin-top: 5px;
	font-weight: 600;
}

video {
	width: 100% !important;
	height: auto !important;
}

a {
	cursor: pointer;
}

a:focus {
	outline: none;
}

a:hover, a:focus {
	text-decoration: none;
}

code {
	background-color: #F9F2F4;
	border-radius: 4px;
	color: #ca4440;
	font-size: 90%;
	padding: 2px 4px;
	white-space: nowrap;
}

.dashboard-header {
	border-top: 0;
	padding: 20px 20px 20px 20px;
}

.dashboard-header h2 {
	margin-top: 10px;
	font-size: 26px;
}

.gray-bg {
	background-color: #f3f3f4;
}

.white-bg {
	background-color: #ffffff;
}

.border-bottom {
	border-bottom: 1px solid #e7eaec !important;
}

.wrapper {
	padding: 0 20px;
}

.wrapper-content {
	padding: 20px;
}

.ibox {
	clear: both;
	margin-bottom: 25px;
	margin-top: 0;
	padding: 0;
}

.ibox:after, .ibox:before {
	display: table;
}

.ibox-title {
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #ffffff;
	border-color: #e7eaec;
	-webkit-border-image: none;
	-o-border-image: none;
	border-image: none;
	border-style: solid solid none;
	border-width: 4px 0px 0;
	color: inherit;
	margin-bottom: 0;
	padding: 14px 15px 7px;
	min-height: 48px;
}

.ibox-content {
	background-color: #ffffff;
	color: inherit;
	padding: 15px 20px 20px 20px;
	border-color: #e7eaec;
	-webkit-border-image: none;
	-o-border-image: none;
	border-image: none;
	border-style: solid solid none;
	border-width: 1px 0px;
}

.ibox-content {
	clear: both;
}

.ibox-heading {
	background-color: #f3f6fb;
	border-bottom: none;
}

.ibox-heading h3 {
	font-weight: 200;
	font-size: 24px;
}

.ibox-title h5 {
	display: inline-block;
	font-size: 14px;
	margin: 0 0 7px;
	padding: 0;
	text-overflow: ellipsis;
	float: left;
}

.ibox-title .label {
	float: left;
	margin-left: 4px;
}

.ibox-tools {
	display: inline-block;
	float: right;
	margin-top: 0;
	position: relative;
	padding: 0;
}

.ibox-tools a {
	cursor: pointer;
	margin-left: 5px;
	color: #c4c4c4;
}

.ibox-tools a.btn-primary {
	color: #fff;
}

.ibox-tools .dropdown-menu>li>a {
	padding: 4px 10px;
	font-size: 12px;
}

.ibox .open>.dropdown-menu {
	left: auto;
	right: 0;
}

/* TABLES */
.table-bordered {
	border: 1px solid #EBEBEB;
}

.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
	background-color: #F5F5F6;
	border-bottom-width: 1px;
}

.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th,
	.table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td,
	.table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	border: 1px solid #e7e7e7;
}

.table>thead>tr>th {
	border-bottom: 1px solid #DDDDDD;
	vertical-align: bottom;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td,
	.table>tbody>tr>td, .table>tfoot>tr>td {
	border-top: 1px solid #e7eaec;
	line-height: 1.42857;
	padding: 8px;
	vertical-align: middle;
}

.show-grid [class^="col-"] {
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #ddd;
	background-color: #eee !important;
}

.show-grid {
	margin: 15px 0;
}

/*返回首页*/
.gohome {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 100;
}

.gohome a {
	height: 38px;
	width: 38px;
	display: block;
	background: #2f4050;
	padding: 9px 8px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	opacity: .5;
}

.gohome a:hover {
	opacity: 1;
}

.echarts {
	height: 300px;
}